<footer class="page-footer grey darken-4">
      <div class="container">
        <div class="row">
            {{! This is a great section for extra contact info or social networking links }}
      </div>
    </div>
      <div class="footer-copyright black">
        <div class="container">
        <i class="fa fa-copyright fa-flip-horizontal"></i> Your Name / Website Here
        <a class="grey-text text-lighten-4 right" href="https://github.com/egee-irl/materialized-ghost-theme/blob/master/LICENSE">GPL License</a>
        </div>
      </div>
</footer>