<nav class="grey darken-4" role="navigation">
  <div class="nav-wrapper container"><a href="{{@blog.url}}" class="brand-logo">Your Website Logo Or Name</a>
      <ul class="right hide-on-med-and-down">
          {{! This section is perfect for social media links }}
      </ul>
  </div>
</nav>